APP_NAME=go-fiber-api
ENV=development
PORT=8080
HOST=0.0.0.0

# MongoDB Config
MONGO_URI=mongodb://user:pass@mongodb:27017/example_app?authSource=admin
MONGO_DB_NAME=example_app
MONGO_USER=user
MONGO_PASS=pass

# JWT Config
JWT_SECRET=jwtsecret
JWT_EXPIRY=24h
JWT_REFRESH_EXPIRY=168h
JWT_REFRESH_SECRET=jwtrefreshsecret

ART_WORK_API_URL=https://api.artic.edu/api/v1/artworks

REDIS_URI=redis://redis:6379